/* Imports the master file */
@import url("master.css");

/* Combination Styling */
body {
  /* Turn this to black if you want to see all the listed elements */
  background-color: #0099FF;
}

/* Adds space between each grid row */
.row {
  padding-bottom: 20px;
}

/* Sets the text colour */
.mainBlock {
  color: white;
}

/* Sets up the main heading */
#mainHeading {
  text-align: center;
}

/* img {
  height: auto;
  width: 200px;
} */

.card {
  width: 15rem;
  margin-bottom: 20px;
}

/* Sets appropriate sizes for the headings and image elements for mobile phones */
@media only screen and (max-width: 775px) {
  #mainHeading {
    font-size: 3em;
  }
}

/* Sets appropriate sizes for the headings and image elements for tablets */
@media only screen and (min-width: 775px) {
  #mainHeading {
    font-size: 4.5em;
  }
}

/* Sets appropriate sizes for the headings and image elements for small windows on computers */
@media only screen and (min-width: 1000px) {
  #mainHeading {
    font-size: 6em;
  }
}

/* Sets appropriate sizes for the headings and image elements for large windows on computers */
@media only screen and (min-width: 1200px) {
  #mainHeading {
    font-size: 7em;
  }
}
