<!-- Navigation Bar -->
<div class="topNav">
  <!-- Creates a Bootstrap Navigation Bar -->
  <!-- It is set to cover the entire length of the screen and use the dark theme -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <!-- Sets up the main title of the website -->
    <a class="navbar-brand" href="index.html">MaxWeb</a>
    <!-- Creates the navigation bar's toggler used on smaller screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Creates naviagation bar's main links and centres it in the page -->
      <ul class="navbar-nav ml-auto mr-auto">
        <!-- Creates an naviagation item -->
        <li class="nav-item">
          <!-- Creates an active link -->
          {% if page.title == "index" %}
          <a class="nav-link active" href="index.html">Home</a>
          <!-- Creates a standard link -->
          {% else %}
          <a class="nav-link" href="index.html">Home</a>
          {% endif %}
        </li>
        <!-- Creates an naviagation item -->
        <li class="nav-item">
          <!-- Creates an active link -->
          {% if page.title == "about" %}
          <a class="nav-link active" href="about.html">About</a>
          <!-- Creates a standard link -->
          {% else %}
          <a class="nav-link" href="about.html">About</a>
          {% endif %}
        </li>
        <!-- Creates an naviagation item -->
        <!-- <li class="nav-item"> -->
        <!-- Creates an active link -->
        <!-- {% if page.title == "photos" %}
          <a class="nav-link active" href="photos.html">Photos</a>
          <!-- Creates a standard link -->
        <!-- {% else %} -->
        <!-- <a class="nav-link" href="photos.html">Photos</a>
          {% endif %} -->
        <!-- </li> -->
        <!-- Creates the dropdown Menu -->
        <li class="nav-item dropdown">
          <!-- Creates the dropdown toggler  -->
          {% if page.dropdown == "projects" %}
          <a class="nav-link dropdown-toggle active" href="allProjects.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          {% else %}
          <a class="nav-link dropdown-toggle" href="allProjects.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          {% endif %}
          <!-- Creates the dropdown menu -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- Creates a dropdown item -->
            <!-- <a class="dropdown-item" href="bbcNewsPoster.html">BBC News Poster</a> -->
            <a class="dropdown-item" href="reversi.html">Reversi</a>
            <!-- Seperates dropdown items -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="allProjects.html">All Projects</a>
          </div>
        </li>
        <!-- Creates an naviagation item -->
        <li class="nav-item">
          <!-- Creates an active link -->
          {% if page.title == "cv" %}
          <a class="nav-link active" href="cv.html">CV</a>
          <!-- Creates a standard link -->
          {% else %}
          <a class="nav-link" href="cv.html">CV</a>
          {% endif %}
        </li>
        <!-- Creates an naviagation item -->
        <li class="nav-item">
          <!-- Creates an active link -->
          {% if page.title == "faq" %}
          <a class="nav-link active" href="faq.html">FAQ</a>
          <!-- Creates a standard link -->
          {% else %}
          <a class="nav-link" href="faq.html">FAQ</a>
          {% endif %}
        </li>
        <!-- Creates an naviagation item -->
        <li class="nav-item">
          <!-- Creates an active link -->
          {% if page.title == "contact" %}
          <a class="nav-link active" href="contact.html">Contact</a>
          <!-- Creates a standard link -->
          {% else %}
          <a class="nav-link" href="contact.html">Contact</a>
          {% endif %}
        </li>
      </ul>
      <!-- Used to make sure the navigation bar is aligned to the centre as the main title of website makes this off-centre -->
      <form class="fillerHeading"></form>
    </div>
  </nav>
</div>