---
title: ""
---
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- Sets up responsive design elements -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MaxWeb</title>
  <!-- Links the main stylesheet for this specific page -->
  <link rel="stylesheet" href="css/mainWireframe.css">
  <!-- Uses Bootstrap Scripts-->
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Used if there are properties which should be applied to everything -->
  <div class="all">
    <!-- Navigation Bar -->
    {% include navBar.html %}
    <!-- Creates the sites main block -->
    <div class="mainBlock">
      <!-- Creates a margin as both sides -->
      <div class="container">
        <!-- Creates a row in Bootstrap's grid system -->
        <div class="row">
          <!-- Creates a column -->
          <div class="col">

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
